*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Courier;
    font-weight: bold;
}
html,body {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    background: #0d1017;
}
div,span,label {
}
.pic {
    display: block;
    position: relative;
    overflow: hidden;
    border: 5px solid #4c8eda;
    margin: 0 auto;
}
.pic img {
    height: 100%;
    cursor: crosshair;
    overflow: hidden;
    margin: 0 auto;
}
.result {
    display: block;
    position: fixed;
    background: rgba(205, 205, 205, 0.3);
    color: #4c8eda;
    padding: 4%;
}
.result span {
    display: block;
    font-size: 33px;
}
.preview {
    display: block;
    position: absolute;
    top: 0%;
    right: 0%;
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border: 5px solid #4c8eda;
    border-right: none;
    border-top: none;
}
#cs {
    display: none;
}
.file {
    display: block;
    position: fixed;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    color: #4c8eda;
    border: 5px solid #4c8eda;
    border-radius: 10px;
    font-size: 40px;
}
@media screen and (orientation:portrait){
    .pic {
        margin-top: 20%;
        margin-right: 10%;
        margin-left: 10%;
        height: 40%;
    }
    .result {
        bottom: 15%;
        left: 10%;
        right: 10%;
    }
    .file {
        bottom: 35%;
        left: 10%;
        right: 10%;
    }
}
@media screen and (orientation:landscape) {
    .pic {
        margin-right: 100%;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 45%;
        height: 80%;
    }
    .result {
        font-size: 15px;
        left: 55%;
        right: 0%;
        bottom: 9%;
        width: 40%;
    }
    .file {
        left: 55%;
        right: 0%;
        top: 10%;
        width: 40%;
    }
}
